/*  your css code here. If applicable */
table {
            width: 10%;
            border-collapse: collapse;
            background-color: yellow;
        }
        table, th, tr, td {
            border: 1px solid black;
        }
        th, td {
            padding: 1px;
            text-align: left;
        }
