/*  your css code here. If applicable */
table {
    background-color: yellow;
    border-collapse: collapse;
    width: 10%;
}
th, td {
    border: 1px solid;
    padding: 2px;
    text-align: left;
}

