/*  your css code here. If applicable */
table {
    background-color: yellow;
    border-collapse: collapse;
    width: 10%;
}
th, td {
    border: 20px solid yellow;
    padding: 2px;
    text-align: left;
}
table-container {
    border: 2px solid black;
    padding: 20px;
    width: fit-content;
    margin: auto;
}
